<nav class="flex justify-between h-[5rem] text-lg text-center font-semibold py-5 border-b-2 border-gray-300 " >    
    <div class="flex gap-8 ">
        <% if(user) { %>
            <a href="/user/profile" class="hover:border-b-2 border-black duration-100 px-6 py-1 text-[--nav-txt] hover:text-[--nav-txt-h] " >Home</a>
        <% }else { %>
            <a href="/" class="hover:border-b-2 border-black duration-100 px-6 py-1 text-[--nav-txt] hover:text-[--nav-txt-h] " >Home</a>
        <% } %>
        <a href="/about"   class="hover:border-b-2 border-black duration-100 px-6 py-1 text-[--nav-txt] hover:text-[--nav-txt-h] " >About</a>
        <a href="/contact" class="hover:border-b-2 border-black duration-100 px-6 py-1 text-[--nav-txt] hover:text-[--nav-txt-h] " >Contact</a>        
    </div>
    <div class="flex gap-8" >

        <% if(user){ %>
            <a href="/user/logout" class=" bg-red-500 hover:bg-red-600 text-white rounded-full  px-6 py-1 " >Logout</a>
        <% }else{ %>
            <a href="/login" class="    hover:border-b-2 border-black duration-100 text-[--nav-txt] hover:text-[--nav-txt-h] uppercase px-6 py-1 " >Login</a>
            <a href="/register" class=" bg-slate-300 hover:bg-slate-400 rounded-full uppercase px-6 py-1 " >Register</a>
        <% } %>
    </div>
</nav>