<div id="sidebar" class="my-10 min-w-52 h-[--container-h2] mr-6 flex flex-col justify-between text-lg font-semibold ">
    <div id="sidebar-in" class="flex flex-col">
        <a href="/user/profile" class="  hover:bg-gray-300 cursor-pointer  px-4 py-3   "><i class="ri-user-line"></i>
            Profile </a>
        <a href="/user/setting" class=" hover:bg-gray-300 cursor-pointer  px-4 py-3   "><i
                class="ri-settings-2-line"></i> Settings </a>
        <a href="#" class="cursor-no-drop hover:bg-gray-300 cursor-pointer  px-4 py-3   "><i
                class="ri-question-line"></i> Help</a>
        <hr class="my-8">
    </div>
    <div>
        <a href="/user/delete/<%= user._id %>"
            class="block border-1 border-red-400 hover:bg-red-500 cursor-pointer text-red-600 hover:text-white px-4 py-3 "><i
                class="ri-delete-bin-2-line"></i> Delete Account</a>

        <a href="#" class="block hover:bg-gray-300 px-4 py-3 cursor-no-drop"><i class="ri-group-line"></i> Find Friends</a>
    </div>
</div>