MONGO_URI = 
SESSION_SECRET = 

SENDER_EMAIL = 

APP_PASSWORD = 

IMAGEKIT_PUBLIC_KEY = 

IMAGEKIT_PRIVATE_KEY = 

IMAGEKIT_ENDPOINT_URL = 


# Razorpay - Payment Integration
YOUR_KEY_ID = 

YOUR_KEY_SECRET = 

# Google Auth 2.0
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
