<%- include('./partials/header') %>
  <%- include('./partials/navbar') %>

  <div>
    <h1 class="text-4xl text-center my-10" >Welcome to <span class="text-[--primary] font-semibold "> <%= title %></span></h1>

    <div class="w-[20vw] mx-auto">
      <img src="/images/contact-us.png" alt="">
    </div>

  </div>

    <%- include('./partials/footer') %>