<%- include('./partials/header') %>
  <%- include('./partials/navbar') %>


    <h1 class="text-4xl text-center my-10" >Welcome to <span class="text-[--primary] font-semibold "> <%= title %></span></h1>

    <%- include('./partials/footer') %>