<%- include('./partials/header') %>
    <%- include('./partials/navbar') %>

        <section class="p-0 w-full h-[--container-h1] flex overflow-hidden ">

            <div id="lhs-register" class="w-[60%] h-full flex justify-center items-start ">
                <img src="./images/forgot.png" class=" object-cover  min-w-[40%] min-h-[10%] mt-16" alt="">
            </div>
            <div id="rhs-register" class="w-[40%] h-full ">

                <div class="min-h-[70%] flex flex-col gap-6  flex flex-col justify-center">
                    <div class="text-center mb-12">
                        <h1 class="text-[3.5rem] text-red-600 font-semibold  w-full px-[5rem] ">
                            Forgot Password </h1>
                        <p class="text-zinc-500 text-lg font-semibold">Reset Password</p>
                    </div>
                    <form action="/user/send-mail" method="post" class="flex flex-col justify-start gap-6 px-[5rem]">
                        <input required class="px-6 py-2 rounded-full font-semibold " type="email" name="email" id="" placeholder="Email">
                        
                        <button class="px-8 py-2 bg-red-500 rounded-full  text-white text-xl font-semibold"
                            type="submit">Reset</button>
                    </form>


                </div>

        </section>

        <%- include('./partials/footer') %>