<%- include('./partials/header') %>
  <%- include('./partials/navbar') %>

    <section class="w-full h-[--container-h1] p-0 flex overflow-hidden">
      <div id="lhs-register" class="w-[60%] h-full flex justify-center items-center">
        <img src="./images/registration.png" class="object-cover min-w-[60%] h-fit mt-16" alt="">
      </div>
      <div id="rhs-register" class="w-[40%] h-full ">

        <div class="min-h-[70%] flex flex-col gap-6  flex flex-col justify-center">
          <div class="text-center mb-12">
            <h1 class="text-[3.5rem] text-[--primary] font-semibold  w-full px-[5rem] ">
              Create Account </h1>
            <p class="text-zinc-500 text-lg font-semibold">New Registration</p>
          </div>
          <form action="/user/register" method="post" class="flex flex-col justify-start gap-6 px-[5rem]">
            <input required class="px-6 py-2 rounded-full  " type="email" name="email" id="" placeholder="Email">
            <input required class="px-6 py-2 rounded-full  " type="text" name="username" id=""
              placeholder="Username">
            <div class="flex flex-col gap-3 ">
              <input required class="px-6 py-2 rounded-full  " type="password" name="password" id=""
                placeholder="Password">
                <a href="/login" class="text-right underline font-semibold text-slate-600">Already have an account ?</a>
            </div>
            <button class="px-8 py-2 bg-[--secondary] rounded-full  text-white text-xl font-semibold"
              type="submit">Register</button>
          </form>


        </div>
    </section>

    <%- include('./partials/footer') %>