.hero-bg {
        background: url('https://images.unsplash.com/photo-1529156069898-49953e39b3ac?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
        background-attachment: fixed;
    }

.decor-img {
    position: absolute;
    width: 100px;
    height: auto;
}

.hero-title-blur {
    filter: blur(2px);
    opacity: 0.6;
}