@tailwind base;
@tailwind components;
@tailwind utilities;

body > *{
  padding: 0 17rem;
} 

/* ------ All post scroll page -----  */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #dadada;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b5b5b5;
}

/* ------ All post scroll page -----  */

:root{
  --primary-grad: linear-gradient(131deg, rgba(161, 101, 246, 1) 0%, rgba(232, 96, 216, 1) 100%);
  --nav-txt:#0F172A;
  /* --nav-txt-h: #475569; */
  --nav-txt-h: #000000;
  
  --primary: #8435F3;
  --primary-h: #8b5cf6;

  /* --secondary: #E233CD; */
  --secondary: #E233CD;
  --secondary-h: #d946ef;

  --tertiary: #3545F3;
  --tertiary-h: #6571F6;
  
  --body-bg: #e6ecf1;
  --setting-bg: #eaf2fb;
  

  --clr-1: #e060db;
  --clr-2: #fc5ecf;

  /* ------------------ */
  --container-h1: calc(100vh - 5rem);
  --container-h2: calc(100vh - 12rem);
  --container-h-profile: calc(100vh - 5.5rem);
}

